<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>i18n Kullanma</title>
</head>
<body>
    <h2>i18n İfadeleri Gösterme</h2>
    <div>
        <table border="1" bordercolor="#ffccc" width="500">
        <caption>i18n Gösterimi</caption>
        <tr>
            <td>Mesaj Adı:</td>
            <td><strong th:text="#{mesaj.adi}"></strong></td>
        </tr>
        <tr>
            <td>Mesaj Konusu:</td>
            <td><strong th:text="#{metin.mesaji}"></strong></td>
        </tr>
        </table>
    </div>
</body>
</html>