<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>İterasyon Gösterim</title>
</head>
<body>
    <div>
      <table>
        <thead>
          <th>Ad</th>
          <th>Soyad</th>
          <th>Yas</th>
          <th>Count</th>
          <th>Size</th>
          <th>İndex</th>
        </thead>
        <tbody>
          <tr th:each="ogr,ogrOzellik : ${ogrenciiter}">
            <strong><td th:text="${ogr.ad}"></td></strong>
            <strong><td th:text="${ogr.soyad}"></td></strong>
            <strong><td th:text="${ogr.yas}"></td></strong>
            <strong><td th:text="${ogrOzellik.count}"></td></strong>
            <strong><td th:text="${ogrOzellik.size}"></td></strong>
            <strong><td th:text="${ogrOzellik.index}"></td></strong>

          </tr>
        </tbody>
      </table>
    </div>
</body>
</html>