<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kayıt Başarılı</title>
</head>
<body>
<h1>Yeni Öğrenci Listesi</h1>
<div>
<table>
    <tr>
        <td><p>Ad:</p></td>
        <td><strong th:text="${yeniogr.ad}"></strong></td>
    </tr>
    <tr>
        <td><p>Soyad:</p></td>
        <td><strong th:text="${yeniogr.soyad}"></strong></td>
    </tr>
    <tr>
        <td><p>Yaş:</p></td>
        <td><strong th:text="${yeniogr.yas}"></strong></td>
    </tr>
    <tr>
        <td><p>Cinsiyet:</p></td>
        <td><strong th:text="${yeniogr.cinsiyet}"></strong></td>
    </tr>
    <tr>
        <td><p>Adres:</p></td>
        <td><strong th:text="${yeniogr.adres}"></strong></td>
    </tr>
</table>
</div>
</body>
</html>
