<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Secim İfadesi</title>
</head>
<body>
    <h2>Secim İfadeleri Gösterme</h2>
    <div th:object = "${secim}">
        <table border="1" bordercolor="#ffccc" width="155">
            <caption>Secim Gösterim</caption>
            <tr>
                <td>Ad:</td>
                <td><strong th:text="*{ad}"></strong></td>
            </tr>
            <tr>
                <td>Soyad:</td>
                <td><strong th:text="*{soyad}"></strong></td>
            </tr>
            <tr>
                <td>Yaş:</td>
                <td><strong th:text="*{yas}"></strong></td>
            </tr>
        </table>
    </div>
</body>
</html>