<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Yeni Öğrenci Kayıt</title>
</head>
<body>
<h1>Yeni Öğrenci Kayıt</h1>

<div align="center">
    <form role="form" method="post" th:action="@{/kaydet}" th:object="${yeniogr}">
        <table>
            <tr>
                <td><label>Ad</label></td>
                <td><input type="text" th:field="*{ad}" /></td>
            </tr>
            <tr>
                <td><label>Soyad</label></td>
                <td><input type="text" th:field="*{soyad}" /></td>
            </tr>
            <tr>
                <td><label>Yaş</label></td>
                <td><input type="text" th:field="*{yas}" /></td>
            </tr>
            <tr>
                <td><label>Cinsiyet</label></td>
                <td>
                    <input type="radio" th:field="*{cinsiyet}" value="Bay" /> BAY
                    <input type="radio" th:field="*{cinsiyet}" value="Bayan" /> BAYAN
                </td>
            </tr>
            <tr>
                <td><label>Adres</label></td>
                <td>
                    <select th:field="*{adres}">
                        <option th:each="deger : ${listeEklenmis}"
                                th:value="${deger}"
                                th:text="${deger}">
                        </option>
                    </select>
                </td>
            </tr>
        </table>
        <br />
        <button type="submit">Kaydet</button>
    </form>
</div>
</body>
</html>
